html, body {
    background-color: #CCFFFF;
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
  }

.header {
    padding: 5px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
}

#pano {
    margin: auto;
    float: center;
    height: 55%;
    width: 50%;
  }


#before-login {
    display:block;
}
#after-login-navbar {
    display:none;
}
.nav-bar {
    display:inline-block
}
.nav-content {
    display:inline-block;
}

.sign-in-user, .sign-up-user {
    display:inline-block;
    font-size : 30px;
    margin: 20px;

}

#after-login {
    display:block;
}

#display-start, #display-Summary, #mapPageButtons {
    display:none;
}

#user, #sign-in{
    display:inline-block
}

#map {
    height: 50%;
    width: 50%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: none;
}

#skip {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 25px;
    width: 100px;
    height: 50px;
    border: 3px solid #73AD21;
}
#mapPageButtons {
    position: absolute;
    right: 0px;
    font-size: 25px;
    width: 100px;
    height: 50px;
    border: 3px solid #73AD21;
}

